.socialmedia-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.socialmedia-container button{
    padding: 8px;
    width: 100%;
}
.google{
    border: 1px solid black;
    border-radius: 5px;
}
.github{
    background-color: #d1d5da;
    border: none;
    border-radius: 5px;
}
@media screen and (max-width:800px) {
    .socialmedia-container{
        display: flex;
        flex-direction: column;
    }
}
